<footer class="bg-dark text-white pt-4">
    <div class="container text-center text-md-start">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <h5 class="text-uppercase fw-bold">ShopKart</h5>
          <p>Your one-stop solution for all your shopping needs.</p>
        </div>

        <!-- Column 2 -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Quick Links</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Products</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful Links</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Shipping</a></li>
            <li><a href="#" class="text-white">Returns</a></li>
            <li><a href="#" class="text-white">FAQs</a></li>
            <li><a href="#" class="text-white">Privacy Policy</a></li>
          </ul>
        </div>

        <!-- Column 4 -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <p><i class="fa fa-home "></i> 123 Main Street, Chennai</p>
          <p><i class="fa fa-envelope "></i> support@shopify.com</p>
          <p><i class="fa fa-phone"></i> +91 98765 43210</p>
        </div>
      </div>
    </div>

    <!-- Social Media Links -->
    <div class="text-center p-3 bg-secondary">
      <a href="#" class="text-white me-4"><i class="fa fa-facebook"></i></a>
      <a href="#" class="text-white me-4"><i class="fa fa-twitter"></i></a>
      <a href="#" class="text-white me-4"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/nandhini-rdm-aba144260/" target="_blank" class="text-white me-4"><i class="fa fa-linkedin"></i></a>
      <p class="text-white mb-0">&copy; 2024 Shopify. All Rights Reserved.</p>
      <p class="text-white mb-0">Designed by <a href="https://www.linkedin.com/in/nandhini-rdm-aba144260/" target="_blank" class="text-white">Nandhini</a></p>
    </div>
  </footer>